@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #000A25;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.box{
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #002997;
    width: 328px;
    height: 601px;
    border-radius: 30px;   
}
.box h1{
    font-family: 'Jaldi';
    text-align: center;
}
.box p{
    font-family: 'Jacques Francois';
    margin: 28px 40px;

}